lib-cov
/**/node_modules/
/**/bower_components/
/**/.idea/
/**/data/
/**/kbd/
/**/target/
/**/.seed
/**/.log
/**/.csv
/**/.dat
/**/.out
/**/.pid
/**/.gz
/**/.rar
/**/.zip

/**/pids
/**/logs
/**/results
/**/video

/**/npm-debug.log
/**/.brackets.json
